/* Classi logo */
#logo-slide{
   background: black;
   width: 100%;
   height: 100vh;
   transition: height 1s;
   transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1);
}
#logo-panel{   
   width: 100%;
   max-height: 600px;
   padding: 0px 10%;
   display: flex; justify-content: center;
}
#curriculum{
   margin: 0px 20px;
   max-width: 1024px;
   padding: 20px;
   background: #111111;
}
.fabio-img{
   border-radius: 50%;
   border-width: 3px;
   border-color: white;
   border-style: solid;
}
.icon-120{
   width: 120px;
   height: 120px;
}
.icon-110{
   width: 110px;
   height: 110px;
   padding: 5px
}
.icon-90{
   width: 90px;
   height: 90px;
   padding: 15px
}
.icon-80{
   width: 80px;
   height: 80px;
   padding: 20px;
}
.icon-java{
   width: 75px;
   height: 75px;
   margin-top: 14px; margin-bottom: 15px;
   padding: 16px 8px 0px 8px; background: white; border-radius: 50%;
}
.icon-social{
   width: 80px;
   height: 80px;
   margin: 20px;
   cursor: pointer;
}

/* TILES */
.tiles{   
   text-align:center; 
   margin: auto; 
   display: flex; 
   justify-content: center;
   flex-wrap: wrap;
}
.tile{
   width: 242px;
   height: 160px;
   padding: 21px;
   margin: 10px;
   border-radius: 5px;
   border-width: 1px;
   border-color: #777777;
   border-style: solid;
   cursor: pointer;
}
.tile:hover{
   box-shadow: 0 1px 10px 0 #777;
}


/* Dialogs */
.dialog-bg{
   display: none;
   opacity: 0;
   transition: opacity 200ms;

   z-index: 80;
   position: fixed;
   top: 0px;
   left: 0px;
   bottom: 0px;
   right: 0px;
   padding: 40px;
   text-align: center;
   background: #7772;   
}
.dialog{
   max-height: 0%;
   transition: max-height 400ms;

   background: #111111;
   color: white;
   padding: 20px;
   margin:  auto;
   border-radius: 5px;
   border-width: 1px;
   border-color: #777777;
   border-style: solid;
   max-width: 1024px;   
   overflow: auto;   
}
